[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansicolors = "*"
pygame-ce = "*"

[dev-packages]
flake8 = "*"
sphinx = "*"
doit = "*"
babel = "*"
sphinx-rtd-theme = "*"
pre-commit = "*"
pydocstyle = "*"
coverage = "*"
build = "*"

[requires]
python_version = "3.13"
